* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 480px;
  width: 100%;
  text-align: center;
}

.mobilebar-container {
  position: relative;
  top: 5px;
  z-index: 12;
  left: 60%;
  transform: translateX(-55%);
}

.mobilebar-tab {
  height: 50px;
  max-width: 420px;
  width: 90vw;
  background-color: #fff;

  display: flex;
  position: relative;
  flex-shrink: 0;
  bottom: 0px;
}

.mobilebar-tab-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% / 3);
  flex-shrink: 0;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  z-index: 2;
}

.mobilebar-tab-overlay {
  border-radius: 6px;
  background-color: #f0f0f0;
  height: 100%;
  width: calc(100% / 3);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
}

.mobilebar-tab__icon {
  display: block;
  color: #f96972;
  transition-duration: 0.3s;
  line-height: 1;
}
th {
  background-color: #d3d3d3;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 0.5rem;
  > div {
    background: yellow;
    padding: 0.5rem;
    display: grid;
    place-items: center;
    &::before {
      // for apsect ratio
      content: "";
      display: block;
      padding-bottom: 100%;
      grid-area: 1 / 1 / 2 / 2;
    }

  }
}


.square-container {
  width: 100px;
  height: 100px;
  position: relative;

}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;

}

#cube div {
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  border: none;
  line-height: 100px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}



.front {
  background: rgba(251,	208,0,1);
}
