* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 480px;
  width: 100%;
  text-align: center;
}

.mobilebar-container {
  position: relative;
  top: 5px;
  z-index: 12;
  left: 60%;
  transform: translateX(-55%);
}

.mobilebar-tab {
  height: 50px;
  max-width: 420px;
  width: 90vw;
  background-color: #fff;

  display: flex;
  position: relative;
  flex-shrink: 0;
  bottom: 0px;
}

.mobilebar-tab-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% / 3);
  flex-shrink: 0;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  z-index: 2;
}

.mobilebar-tab-overlay {
  border-radius: 6px;
  background-color: #f0f0f0;
  height: 100%;
  width: calc(100% / 3);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
}

.mobilebar-tab__icon {
  display: block;
  color: #f96972;
  transition-duration: 0.3s;
  line-height: 1;
}
th {
  background-color: #d3d3d3;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 0.5rem;
  > div {
    background: yellow;
    padding: 0.5rem;
    display: grid;
    place-items: center;
    &::before {
      // for apsect ratio
      content: "";
      display: block;
      padding-bottom: 100%;
      grid-area: 1 / 1 / 2 / 2;
    }

  }
}


.square-container {
  width: 100px;
  height: 100px;
  position: relative;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -webkit-animation: rotatecube 5s linear;

  -moz-transform-style: preserve-3d;
  -moz-animation: rotatecube 5s linear;
}

#cube div {
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  border: none;
  line-height: 100px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

@-webkit-keyframes rotatecube {
  0% { -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(90deg); }
  25% { -webkit-transform: rotateX(90deg) rotateY(270deg) rotateZ(180deg); }
  50% { -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(0deg); }
  75% { -webkit-transform: rotateX(270deg) rotateY(90deg) rotateZ(360deg); }
  100% { -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(270deg); }
}

@-moz-keyframes rotatecube {
  0% { -moz-transform: rotateX(0deg) rotateY(360deg) rotateZ(90deg); }
  25% { -moz-transform: rotateX(90deg) rotateY(270deg) rotateZ(180deg); }
  50% { -moz-transform: rotateX(180deg) rotateY(180deg) rotateZ(0deg); }
  75% { -moz-transform: rotateX(270deg) rotateY(90deg) rotateZ(360deg); }
  100% { -moz-transform: rotateX(360deg) rotateY(0deg) rotateZ(270deg); }
}

.front {
  background: rgba(251,	208,0,1);
}

.back {
  background: rgba(251,	208,0,1);
}

.right {
  background: rgba(251,	208,0,1);
}

.left {
  background: rgba(251,	208,0,1);
}

.top {
  background: rgba(251,	208,0,1);
}

.bottom {
  background: rgba(251,	208,0,1);
}

#cube .front  {
  -webkit-transform: rotateY(0deg ) translateZ( 50px );
  -moz-transform: rotateY( 0deg ) translateZ( 50px );
}
#cube .back {
  -webkit-transform: rotateX( 180deg ) translateZ( 50px );
  -moz-transform: rotateX( 180deg ) translateZ( 50px );
}
#cube .right  {
  -webkit-transform: rotateY(  90deg ) translateZ( 50px );
  -moz-transform: rotateY(  90deg ) translateZ( 50px );
}
#cube .left   {
  -webkit-transform: rotateY( -90deg ) translateZ( 50px );
  -moz-transform: rotateY( -90deg ) translateZ( 50px );
}
#cube .top    {
  -webkit-transform: rotateX(  90deg ) translateZ( 50px );
  -moz-transform: rotateX(  90deg ) translateZ( 100px );
}
#cube .bottom {
  -webkit-transform: rotateX( -90deg ) translateZ( 50px );
  -moz-transform: rotateX( -90deg ) translateZ( 50px );
}
