{% extends 'header.html' %} {% block head %}
<link
  href="https://fonts.googleapis.com/css?family=Press+Start+2P"
  rel="stylesheet"
/>
<link
  href="https://unpkg.com/nes.css@latest/css/nes.min.css"
  rel="stylesheet"
/>
<link rel="stylesheet" href="/static/css/core.css" />
{% endblock %} {% block content %}

<div class="mobilebar-container mobile-layout">

    <div class="mobilebar-tab-item">
      <span class="nes-textarea mobilebar-tab__icon">
        Paid
        <i class="fa coin"></i>
      </span>
    </div>
    <div class="mobilebar-tab-overlay"></div>
</div>
.
<!--:-->
<div class="grid">
<div class="square-container">
  <div id="cube">
    <div class="front">?</div>
  </div>
</div>

<div class="square-container">
  <div id="cube">
    <div class="front">?</div>
  </div>
</div>
<div class="square-container">
  <div id="cube">
    <div class="front">?</div>
  </div>
</div>
</div>
<!--:-->

<h1><span id="minutes">00</span> min <span id="seconds">00</span> sec</h1>
Tries: {{counter}} -{{messagess}}
<!--Make sure the form has the autocomplete function switched off:-->
<form method="POST" id="guessForm">
  {{ form.csrf_token }}
  <div>
    {{form.guess(class='nes-input', pattern="[0-9]*", inputmode='numeric',autocomplete='off',
    placeholder='Guess')}}
  </div>
  <input
    class="nes-btn is-primary is-centered"
    type="submit"
    value="Try!"
    style="width: 35%"
  />
</form>

<div class="nes-table-responsive" style="padding: 10px">
  <table
    class="nes-table is-bordered is-centered results"
    style="width: 100%; overflow-x: auto"
  >
  <tr>
  <thead>  <th>Guess</th>
    <th>Result</th></thead>
  </tr><tbody>
    {% for message, guess in notification %}
  <tr>
   <td>{{guess}}</td>
     <td>{{message}}</td>
  </tr>
    {% endfor %}
  </tbody></table>
</div>
<script>


  $(document).ready(function () {


    // Function to calcaute seconds between the start of the game and current time.
    function calculateSeconds() {
      var timer = localStorage.getItem("sec");

      timer == null
        ? (timer = null)
        : (timer = Math.floor(Date.now() / 1000 - timer / 1000));

      return timer;
    }
    // Contains either null or seconds.
    var sec = calculateSeconds();

    function pad(val) {
      return val > 9 ? val : "0" + val;
    }
    // Timer that updates the html code each second
    function runTimer() {
      setInterval(function () {
        $("#seconds").html(pad(++sec % 60));
        $("#minutes").html(pad(parseInt(sec / 60, 10)));
      }, 1000);
    }
    // Trigger for timer once player submits his first guess , timestamp
    // gets stored into local storage
    $("#guessForm").submit(function () {
      var timer = localStorage.getItem("sec");
      if (timer != null) {
      } else {
        localStorage.setItem("sec", Date.now());
      }
    });


    // Checking if player already started his game , if so loading up HTML to remove
    // one second delay inside the runTimer function and starting the function itself.
    if (sec !== null) {
      $("#seconds").html(pad(++sec % 60));
      $("#minutes").html(pad(parseInt(sec / 60, 10)));
      runTimer();
    }
  });

  $(function(){
      $("tbody").each(function(elem,index){
        var arr = $.makeArray($("tr",this).detach());
        arr.reverse();
          $(this).append(arr);
      });
  });
</script>

{% endblock %}
