{% extends 'header.html' %}
{% block content %}
<style>
	html {
		--blue: #147ec1;
		--lgt-blue: #3db5eb;
		--lgtr-blue: #a6f7ff;
		--drk-blue: #1663a0;
		--black: #32383c;
	}

	.box {
		height: 300px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.box>* {
		flex: 1 1 80px;
	}

	button {
		display: block;
		padding: 10px 38px;
		font-weight: bold;
		font-size: 16px;
		text-align: center;
		color: var(--blue);
		background-color: #fff;
		border: 2px solid var(--blue);
		border-radius: 24px;
		cursor: pointer;
		transition: all 0.3s ease;
		width: 100%;
	}

	button:hover {
		color: var(--lgt-blue);
		border-color: var(--lgt-blue);
	}

	button:active {
		color: var(--drk-blue);
		border-color: var(--drk-blue);
	}

	button:focus {
		outline: none;
		background-color: var(--lgtr-blue);
	}
</style>

<div class="box">
	<div><button type="button">
			<span>Ponzi Room</span>
		</button></div>
</div>

{% endblock %}