{% extends 'header.html' %} {% block head %}
<link
  href="https://fonts.googleapis.com/css?family=Press+Start+2P"
  rel="stylesheet"
/>
<link
  href="https://unpkg.com/nes.css@latest/css/nes.min.css"
  rel="stylesheet"
/>
<style>
    @import url(//fonts.googleapis.com/css?family=Press+Start+2P);
 body, body * {
	 font-family: "Press Start 2P" !important;
}
 img  {
	 display: block;
	 margin-left: auto;
	 margin-right: auto;
	 max-width: 100%;
}
 html, body, #page-one, #page-two, #page-three, #page-four {
	 height: auto;
	 min-height: 100vh;
}
 #page-one, #page-two, #page-three, #page-four {
	 padding-top: 2em;
}
 h2 {
	 font-size: 2em;
	 padding-top: 1em;
	 text-align: center;
}
 .centered {
	 display: block;
	 margin-left: auto;
	 margin-right: auto;
}
 #page-one {
	 background-color: #fff f;
}
 #page-two {
	 background-color: #80ddb8;
	 position: relative;
	 height: 1800px;
}
 #page-three {
	 background-color: #fff f;
	 position: relative;
	 height: 780px;
}
 #page-four {
	 background-color: #80ddb8;
	 position: relative;
	 height: 600px;
}
 .nes-progress {
	 height: 30px;
}
 p {
	 max-width: 400px;
	 padding-top: 35px;
}
 .container {
	 width: 400px;
	 max-width: 90%;
	 position: absolute;
	 top: 60%;
	 left: 50%;
	 transform: translate(-50%, -50%);
}
 .container2 {
	 width: 400px;
	 max-width: 90%;
	 position: absolute;
	 top: 56%;
	 left: 50%;
	 transform: translate(-50%, -50%);
}
/* DEMO-SPECIFIC STYLES */
 #page-one h2 {
	 overflow: hidden;
	/* Ensures the content is not revealed until the animation */
	 border-right: 0.1em solid orange;
	/* The typwriter cursor */
	 margin: 0 auto;
	/* Gives that scrolling effect as the typing happens */
	 letter-spacing: 0.15em;
	/* Adjust as needed */
	 animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}
/* The typing effect */
 @keyframes typing {
	 from {
		 width: 0;
	}
	 to {
		 width: 100%;
	}
}
/* The typewriter cursor effect */
 @keyframes blink-caret {
	 from, to {
		 border-color: transparent;
	}
	 50% {
		 border-color: orange;
	}
}
</style>

{% endblock %}

{% block content %}
<div id="page-one">
	<img src="https://res.cloudinary.com/dqenlmcw2/image/upload/v1619402955/4a0d0ebaff754451bbb6c00485f94e13_opv8mk.png">
  <h2 class="typewriter">A game for the greedy.<br>
  	A pyramid-scheme you can trust
  </h2>

</div>
<div id="page-two">
  <h2>Find the secret number...</h2>


  <section class="message-list container2">
    <section class="message -left">

      <!-- Balloon -->
      <div class="nes-balloon from-left">
		  <p><u>The clues</u></p>
        <p>🧨: the number is present in a different position.
		</p><p>💥: the number is present in the right position.
		</p>
      </div>
    </section>

    <section class="message -right">
      <!-- Balloon -->
      <div class="nes-balloon from-right">
		  <p>Let's imagine the secret number is <u>470</u></p>
      </div>

    </section>

<section class="message -left">
      <!-- Balloon -->
      <div class="nes-balloon from-left">
		  <p>If you send the guess 123 you will get the response "NOTHING"</p>
		  </div>

    </section>
		  <section class="message-right">
      <!-- Balloon -->
      <div class="nes-balloon from-right">
		  <p>If you try 345. The game will return: 1 🧨 </p>

		  <p>So the misplaced number has to be 4 or 5</p>

		  </div>

    </section>
		  <section class="message -left">
      <!-- Balloon -->
      <div class="nes-balloon from-left">
		  <p>Let's try with 523. The response is "NOTHING" so we know that the number present in our secret is 4 and we will get our first 💥</p>
      </div>

    </section>
  </section>

</div>
<div id="page-three">
  <h2>...leave the pyramid at the top</h2><br>


    <div class="container">
  <progress class="nes-progress is-primary" value="200" max="100"></progress>
  <progress class="nes-progress is-primary" value="99" max="100"></progress>
  <progress class="nes-progress is-primary" value="57" max="100"></progress>
  <progress class="nes-progress is-primary" value="4" max="100"></progress>
 <progress class="nes-progress is-error reversed" value="3" max="100"></progress>
  TOTAL LOSS
  <progress class="nes-progress is-error" value="100" max="100"></progress>
  <progress class="nes-progress is-error" value="100" max="100"></progress>
		<p>Let's not forget people love Ponzi schemes, they just don't want to be the last ones to leave the party. 🎉🎉</p>
  </div>


</div>
<div id="page-four">
  <h2>...and make money. </h2>
	<div class="container">
	<div style="display: flex;
  justify-content: center;">
	<i class="nes-icon coin is-large"></i>
	<i class="nes-icon coin is-large"></i>
	<i class="nes-icon coin is-large"></i>
	<i class="nes-icon coin is-large"></i>
	<i class="nes-icon coin is-large"></i></div><br>
	<a href="{{url_for('ponzi.rooms')}}" target="_self"><button type="button" class="nes-btn is-primary centered">PLAY</button></a><span class="centered">

	<p>By pressing "PLAY" you accept our <a href="">cookie policy</a> and <a href="">terms of service</a></span</p>
	<br><br><p>* You have to be 18 years or older to access this game.</p></div>
</div>

<script>
    $(document).ready(function () {
        $('a[href*="#"]:not([href="#"]):not([href="#show"]):not([href="#hide"])').click(function() {
		if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
			var target = $(this.hash);
			target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
			if (target.length) {
				$('html,body').animate({
					scrollTop: target.offset().top
				}, 1000);
				return false;
			}
		}
	});
    })
</script>

{% endblock %}
