{% extends 'header.html' %} {% block content %}
{% block head %}
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
<link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/core.css">
{% endblock %}
<style>
  .center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }

  .center-screen2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }
</style>
<div class="center-screen">
  <div>
    <p>Current Lobby Status</p>
    <p> <span id='playerCounter'></span>:/<span id='maxPlayers'></span> Players</p>
    <p><span id='totalGuesses'></span></p>
  </div>
  <form id='joinForm'>
    <div>
    <input id='email' type='email' placeholder='Enter Your Email' required />
  </div>
  <div>
    <button type='submit'> Join Game </button>
  </div>
  </form>
</div>
<div class="center-screen2">
  <div>
    <p>Are you ready? </p>
    <input id='readyCounter' hidden/>

  </div>
  <button id='ready'> Join Game </button>

</div>
<script type="text/javascript" charset="utf-8">
  var config;
  var room_key = {{room_key|tojson}}
  $(document).ready(function () {
    // LEAVE THE CONFIG HERE
    firebase_config = {

    }

    var center1 , center2, playerCounter, readyCounter, maxPlayers

    function Ready() {
      center1 = $('.center-screen')
      center2 = $('center-screen2')
      playerCounter = $('#playerCounter')
      readyCounter = $('#readyCounter')
      maxPlayers = $('#maxPlayers')
      email = $('#email')
      totalGuesses = $('#totalGuesses')
    }
    
    Ready()
    center2.hide()

    firebase.initializeApp(firebase_config);
    var dbTotalPlayers = firebase.database().ref().child('game').child(room_key).child('total_players');
    var dbReady = firebase.database().ref().child('game').child(room_key).child('ready');
    var allowedPlayers = firebase.database().ref().child('game').child(room_key).child('allowed_players')
    var totalGuess = firebase.database().ref().child('game').child(room_key).child('guesses')
   
    dbTotalPlayers.on('value', snap => playerCounter.text(snap.val()))
    dbReady.on('value', snap => readyCounter.val(snap.val()))
    allowedPlayers.once('value', snap => {maxPlayers.text(snap.val())})
    totalGuess.once('value', snap => {totalGuesses.text("You have " +snap.val() + " guess to solve this puzzle")})

    $('#joinForm').submit(function (e) {
      // Adding up one total player into firebase
      firebase.database().ref().child('game').child(room_key).update({ 'total_players': parseInt(playerCounter.text()) + 1 });
      // Using ajax to store users email into cookie
      $.ajax({
        method: 'POST',
        url: '/register',
        xhrFields: { withCredentials: true },
        contentType: 'application/json;charset=UTF-8',
        data: JSON.stringify({ 'email': email.val(), 'room_key': room_key })
      }).then((response) => {
        // Removing the email input and showing ready button
        center1.fadeOut()
        center2.show()
      });
      e.preventDefault();
    })

    // Using ready button to confirm that players are ready to start playing
    $('#ready').on('click', function (e) {
      firebase.database().ref().child('game').child(room_key).update({ 'ready': parseInt(readyCounter.val()) + 1 })
      $(this).fadeOut()
      e.preventDefault()
    })

    // Watching the ready value so game can be initialized once all players are ready
    dbReady.on('value', snap => {
      if (snap.val() == parseInt(maxPlayers.text())) {
        window.location.href = '/ponzi'
      }
    })
  });
</script>
{% endblock %}