{% extends 'header.html' %} {% block head %}
<link
  href="https://fonts.googleapis.com/css?family=Press+Start+2P"
  rel="stylesheet"
/>
<link
  href="https://unpkg.com/nes.css@latest/css/nes.min.css"
  rel="stylesheet"
/>
<link rel="stylesheet" href="/static/css/core.css" />
{% endblock %} {% block content %}
<style>
  th {
    background-color: #d3d3d3;
  }
</style>
<section class="nes-container enter">
    <section class="message-list">
      <section class="message -right">
        <div class="nes-balloon from-left">
            <p >The number that solves puzzle was <strong class='reveal'></strong></p>
          </div>
        <i class="nes-bcrikko" style='margin-right: 100%'></i>
        <!-- Balloon -->
      </section>
  
    </section>
  </section>

<div class="nes-table-responsive" style="padding: 10px">
  <table
    class="nes-table is-bordered is-centered"
    style="width: 100%; overflow-x: auto"
  >
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Gain</th>
      <th>End Time</th>
    </tr>
  </table>
</div>

<script>
  var room_key = {{room_key|tojson}}
  $(document).ready(function () {
      // LEAVE THE CONFIG HERE
  var firebase_config = {

  }
  $('.nes-table-responsive').hide()
  localStorage.removeItem('sec')

  function revealNumber() {
      var enterScreen = $('.enter')
      var number = $('.flashes')
      var reveal = $('.reveal')
      var table = $('.nes-table-responsive')
      // Using if operator just in case user decide to refresh the page
      // Entering message will be removed and ranking table will be displayed.
      if (!number.first().text()){
        table.show()
        enterScreen.hide()
      }
      else {
      enterScreen.show()
      number.hide()
      reveal.text(number.first().text())

      setTimeout(() => {
        enterScreen.fadeOut()
        table.show()
      }, 5000)
      }
  }

  revealNumber()

  firebase.initializeApp(firebase_config);

  var rank = firebase.database().ref().child('game').child(room_key).child('players');
      rank.orderByChild('position').on('value', snap => {
          $('.nes-table').find('tr:gt(0)').remove()
          snap.forEach(element => {
              if (element.val()['end_time'] != undefined) {
              $('.nes-table tr:last').after("<tr><td>"
                  + element.val()['position'] +
                  "<td>" +
                  element.val()['name'] +
                  "<td>"
                  + element.val()['earning'] + '$' + 
                  "<td>"
                  + element.val()['end_time'] +
                  "</td></td></td></td></tr>")
          }});
      })

  })

</script>

{% endblock %}
