{% extends 'header.html' %}
{% block head %}
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
<link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/core.css">
{% endblock %}
{% block content %}
<style>
    th {

        background-color: #d3d3d3;
    }
</style>

<div class="nes-table-responsive" style="padding:10px;">
    <table class="nes-table is-bordered is-centered" style="width:100%;overflow-x:auto;">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Gain</th>
            <th>End Time</th>


        </tr>
        <tr>
            <td>1</td>
            <td>Joe</td>
            <td>75% 👏</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Jane</td>
            <td>-100% 👎</td>
        </tr>


    </table>
</div>

<script>
    var room_key = {{room_key|tojson}}
    $(document).ready(function () {
        // LEAVE THE CONFIG HERE
        var firebase_config = {

        }

        firebase.initializeApp(firebase_config);

        var rank = firebase.database().ref().child('game').child(room_key).child('players');
        rank.orderByChild('position').on('value', snap => {
            $('.nes-table').find('tr:gt(0)').remove()
            snap.forEach(element => {
                console.log(element.key, element.val())
                if (element.val()['position'] != undefined) {
                $('.nes-table tr:last').after("<tr><td>"
                    + element.val()['position'] +
                    "<td>" +
                    element.val()['payment'] +
                    "<td>" 
                    + element.val()['gain'] +
                    "<td>"
                    + element.val()['end_time'] + 
                    "</td></td></td></td></tr>")
            }});
        })
    })
</script>

{% endblock %}