{% extends 'header.html' %}
{% block head %}
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
<link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/core.css">
{% endblock %}
{% block content %}
<style>
    th {

        background-color: #d3d3d3;
    }
</style>

<div class="nes-table-responsive" style="padding:10px;">
    <table class="nes-table is-bordered is-centered" style="width:100%;overflow-x:auto;">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Gain</th>
            <th>End Time</th>


        </tr>
    </table>
</div>

<script>
    var room_key = {{room_key|tojson}}
    $(document).ready(function () {
        // LEAVE THE CONFIG HERE
        var firebase_config = {
    "apiKey": "AIzaSyCulR0OlEN-dCRPxVsx16paDmbZef-x1gI",
    "authDomain": "test-90b1b.firebaseapp.com",
    "databaseURL": "https://test-90b1b-default-rtdb.europe-west1.firebasedatabase.app",
    "projectId": "test-90b1b",
    "storageBucket": "test-90b1b.appspot.com",
    "messagingSenderId": "1085178731342",
    "appId": "1:1085178731342:web:56a11a11b07b25916fdc1f"

        }

        firebase.initializeApp(firebase_config);

        var rank = firebase.database().ref().child('game').child(room_key).child('players');
        rank.orderByChild('position').on('value', snap => {
            $('.nes-table').find('tr:gt(0)').remove()
            snap.forEach(element => {
                if (element.val()['end_time'] != undefined) {
                $('.nes-table tr:last').after("<tr><td>"
                    + element.val()['position'] +
                    "<td>" +
                    element.val()['payment'] +
                    "<td>" 
                    + element.val()['gain'] +
                    "<td>"
                    + element.val()['end_time'] + 
                    "</td></td></td></td></tr>")
            }});
        })
    })
</script>

{% endblock %}